* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
  }

  body {
   font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
    flex-direction: column;
  }



  header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background-color: #005248;
   color: white;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px 20px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
   z-index: 1000;
  }

  .logo img {
   height: 60px; /* Ajusta el tamaño del logotipo según sea necesario */
  
  }

  header nav ul {
   display: flex;
   list-style: none;
  }

 header nav ul li {
   margin-left: 20px;
  }

  header nav ul li a {
   color: #fff;/* Color del texto de los enlaces */
   text-decoration: none;
   font-size: 16px;
   transition: color 0.3s ease;
  }

  header nav ul li a:hover {
   color: #f4a261;/* Cambia a un color destacado cuando pase el mouse */
  }








  .hero {
   width: 100%;
   height: 500px;
   background-image: url('../imagen2/portada.jpg');/* Reemplaza con la ruta de tu imagen */
   background-size: cover;
   background-position: center;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
  }

  .hero::after {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);/* Efecto de superposición oscura */
  }

  .hero .content {
   position: relative;
   text-align: center;
   color: #f4a261;
  }

 
  .hero h1 {
    font-size: 60px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
  }







  /* Contenedor principal de la carta */
   .menu {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
    gap: 30px; /* Espacio entre las columnas */
    padding: 30px;
    max-width: 900px;
    margin: 0 auto; /* Centrar la carta 
    border-radius: 10px; /* Bordes redondeados */
  }

  /* Estilo para los títulos de las secciones */
  h2 {
    color: #005248;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8rem;
  }
   



  
  /* Estilo para las listas de entradas y platos fuertes */
  .menu-column {
    list-style-type: none; /* Eliminar los puntos de lista */
    padding: 0;
  }

  /* Estilo para cada elemento de la lista */
  .menu-column li {
    margin: 15px 0; /* Espacio entre los elementos */
    font-family: 'Georgia', serif;
    font-size: 1.2rem;
    color: #555;
  }


  /* Estilo para los precios */
  .menu-column li span {
    float: right;
    font-size: 1.1rem;
    color: #005248;
  }



  /* Estilo de fondo para las columnas */
  .menu-column {
    background-color: #dddddd36;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }







  .background-section {
    width: 100%;
    height: 400px;
    background-image: url('../imagen2/imagen2.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* La imagen cubre toda la sección */
    background-position: center; /* Centra la imagen */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .content h2 {
    font-size: 60px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
    color: #f4a261;
  }
   




  
  .complex-section {
    width: 100%;
    padding: 25px;
    text-align: center;
    background-color: #ffff; /* Fondo claro */
    
  }
  
  .image-grid {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  /* Estilo para las imágenes */
  .large-img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .small-img {
    width: 150px;
    height: 100px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .extra-large-img {
    width: 400px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .tall-small-img {
    width: 150px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
  }
  
  .row {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .side-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }


  
  .complex-section .large-img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
 
   
 .complex-section .small-img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }

 .complex-section .extra-large-img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
 
 
  .complex-section .tall-small-img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }

 


 
  .subscription-container {
    place-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

 .subscription-container h3 {
    margin-bottom: 15px;
    font-size: 20px;
    color: #444;
  }

 .subscription-container input[type="email"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }

 .subscription-container button {
    padding: 10px 20px;
    color: #ffffff;
    background-color: #005248;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
 
  .subscription-container button:hover {
    background-color: #f4a261; /* Color al pasar el mouse */
  }








  .shadowbox {
    width: 100%;
    text-align: center;
    padding: 50px;
    background-color: #F4E3C1;
  }

















 /* Contenedor principal */
 .container {
   width: 100%;
   max-width: 8000px;
   text-align: left;
   padding: 20px;
   background-color: #fff;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   position: relative;
  }

 /* Estilo del título centrado */
 .titulo {
   margin-bottom: 20px;
   font-size: 24px;
  }

 /* Contenedor de las imágenes y los párrafos */
 .contenido {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   gap: 20px;
  }

 /* Bloques de imagen y párrafo */
 .bloque {
   text-align: center;
   width: 45%;
  }

 .bloque img {
   border-radius: 50%;
   width: 100px;
   height: 100px;
   object-fit: cover;
   margin-bottom: 10px;
  }

 /* Estilo del párrafo */
 .bloque p {
   font-size: 16px;
   color: #333;
  }


 .container {
   display: grid;
   grid-template-columns: 1fr 2fr 1fr;
   gap: 20px;
   width: 100%;
   padding: 20px;
   background-color: #00231E;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

 /* Estilo para las columnas */
 .columna {
   padding: 20px;
  }

 /* Columna izquierda */
 .izquierda h3 {
   font-size: 18px;
   margin-bottom: 10px;
   color: #f4a261;
  }

 .izquierda p {
   font-size: 16px;
   color: #fff;
   margin-bottom: 20px;
  }

 .izquierda i {
   margin-right: 10px;
 }

 /* Columna central */
 .central h3 {
   font-size: 22px;
   margin-bottom: 10px;
   color: #f4a261;
  }

 .central p {
   font-size: 16px;
   color: #fff;
   margin-bottom: 20px;
  }






 /* Columna derecha */
 .derecha h3 {
   font-size: 22px;
   margin-bottom: 10px;
   color: #f4a261;
  }

 .derecha .galeria {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 10px;
  }


 .derecha .galeria img {
   width: 120px;
   height: 120px;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

 .derecha .galeria img:hover {
   transform: scale(1.05);
   transition: transform 0.3s ease;
  }









 /* Pie de Página */
 footer {
   background: #000;
   color: #fff;
   text-align:center;
   padding: 1rem;
  }

 html {
   scroll-behavior: smooth;
  }